:root {
  --btn-bg: #4F46E5;
  --btn-bg-hover: #3831b6;
  --btn-stop: rgba(202, 21, 21, 0.911);
  --bg-body: #F3F4F6;
  --bg-div: #FFFFFF;
  --bg-input: #E5E7EB;
  --text-dark: #111827;
  --btn-text: #FFFFFF;
  --input-border: #9CA3AF;
  --border: #D1D5DB;
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-body);
}

.container{
    width: 70%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bg-div);
    border: 0.1rem solid var(--border);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.247);
}

.container p{
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.container p span{
    color: var(--btn-bg);
    font-weight: 500;
}

textarea{
    width: 100%;
    height: 10rem;
    border: none;
    resize: none;
    outline: none;
    border-radius: 1rem;
    font-size: 0.9rem;
    padding: 1rem;
    border: 0.1rem solid var(--input-border);
    background-color: var(--bg-input);
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
}

select{
    flex: 1;
    padding: 0.3rem 1.25rem;
    border: 0.1rem solid var(--input-border);
    outline: 0;
    border-radius: 0.8rem;
    background-color: var(--bg-input);
    color: var(--text-dark);
    appearance: none;
    background-image: url(Images/down.png);
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position-x: calc(100% - 1.25rem);
    background-position-y: 0.3rem;
    cursor: pointer;
}

button{
    border: none;
    outline: none;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-size: 1rem;
    border-radius: 0.8rem;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: var(--btn-bg-hover);
    transform: translateY(-0.2rem);
}

button:active{
    transform: scale(0.9);
}

button img{
    width: 1rem;
    margin-right: 0.1rem;
    position: relative;
    top: 0.08rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.btns{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

#stop:hover{
    background-color: var(--btn-stop);
}

::-webkit-scrollbar{
    width: 0.9rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--btn-bg);
    border: 0.1rem solid var(--bg-input);
    border-radius: 0.5rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--btn-bg-hover);
}